{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<div>
    <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to my Blog! Here I'm will talking about everything computer science. Basics, frameworks, machine learning, other data science stuff, any new tech or findings, and pretty much anything computer science related.</p>
            <p>Go visit me at my <a href="https://github.com/leandropinheiroalves">GitHub</a> to check out more cool apps.</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go To Posts &raquo;</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}